@media screen and (min-width: 1491px) {
  .hero-margin-left-shim.fusion-layout-column > .fusion-column-wrapper {
    margin-left: calc((100vw - 1430px) / 2);
  }
}

body.post-type-archive-sentec-publications .wpc-filter-content > .select2-container--default {
  padding-right: 24px;
  width: 100% !important;
  min-width: unset !important;
  max-width: 100%;
}
body.post-type-archive-sentec-publications .select2-selection--single {
  border-color: #dfdddc !important;
  border-radius: 5px !important;
  border-width: 2px !important;
  padding: 0 !important;
}
body.post-type-archive-sentec-publications .select2-selection__arrow {
  box-sizing: content-box !important;
  background-color: #dfdddc !important;
  border-radius: 50% !important;
  border: 2px solid #dfdddc !important;
  width: 38px !important;
  height: 38px !important;
  right: 0 !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
body.post-type-archive-sentec-publications .select2-selection__arrow b {
  color: #fff;
  border-left: unset !important;
  border-top: unset !important;
  transform: unset !important;
  width: 100% !important;
  height: 100% !important;
  right: unset !important;
  top: unset !important;
  left: unset !important;
  font-family: var(--fa-style-family-classic);
}
body.post-type-archive-sentec-publications .select2-selection__arrow b:before {
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body.post-type-archive-sentec-publications .widget-title.wpc-filter-title {
  display: none;
}
