body.post-type-archive-sentec-publications .widget-title.wpc-filter-title {
  display: none;
}
body.post-type-archive-sentec-publications .wpc-filters-widget-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
body.post-type-archive-sentec-publications div:has(> .wpc-filters-widget-select) {
  position: relative;
}
body.post-type-archive-sentec-publications div:has(> .wpc-filters-widget-select):after {
  content: ">";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 0;
  transform: translate(-50%, 0) rotate(90deg);
  background-color: gray;
  color: white;
  border-radius: 50%;
  overflow: hidden;
}
