@use "sass:math";
@import "./mixins.scss";
//

// utility class
.hero-margin-left-shim {
	&.fusion-layout-column {
		> .fusion-column-wrapper {
			@media screen and (min-width: 1491px) {
				margin-left: calc(calc(100vw - 1430px) / 2);
			}
		}
	}
}

//
body.post-type-archive-sentec-publications {
	.wpc-filter-content {
		> .select2-container--default {
			padding-right: 24px;
			width: 100% !important;
			min-width: unset !important;
			max-width: 100%;
		}
	}
	//
	.wpc-filter-content select.wpc-filters-widget-select {
		pointer-events: none;
	}

	//
	.select2-selection--single {
		border-color: #dfdddc !important;
		border-radius: 5px !important;
		border-width: 2px !important;
		padding: 0 !important;
	}
	//	we make this selector a circle
	.select2-selection__arrow {
		box-sizing: content-box !important;
		background-color: #dfdddc !important;
		border-radius: 50% !important;
		border: 2px solid #dfdddc !important;
		width: 38px !important;
		height: 38px !important;
		right: 0 !important;
		top: 50% !important;
		transform: translateY(-50%) !important;

		// we turn this element into a chevron
		b {
			color: #fff;
			border-left: unset !important;
			border-top: unset !important;
			transform: unset !important;
			width: 100% !important;
			height: 100% !important;
			right: unset !important;
			top: unset !important;
			left: unset !important;
			font-family: var(--fa-style-family-classic);
			&:before {
				content: "\f078";
				@include center_absolute;
			}
		}
	}

	.widget-title.wpc-filter-title {
		display: none;
	}

	a.wpc-filters-submit-button {
		border-radius: 25px !important;
	}

	a.wpc-filters-reset-button {
		color: var(--awb-text-color);
		text-decoration: underline;
		background-color: unset;
		border: unset;
		border-radius: unset;
		padding: unset;
		width: unset;
	}
	.wpc-filter-layout-submit-button {
		flex-direction: unset;
	}
	.wpc-filters-section:last-child {
		margin-bottom: unset;
	}
	// .wpc-filters-widget-select {
	// 	appearance: none;
	// 	margin-bottom: 0;
	// 	margin-right: 1em;
	// }
	// .wpc-filter-content {
	// 	margin-right: 1em;
	// }
}
